form{
    width: 500px;
    margin: 40px auto 0px;
    h2{
        text-align: center;
    }
    .select{
        max-width: 100%;
        margin-bottom: 20px;
    }
    @media (max-width:500px) {
        width: 320px;
    }
    @media (max-width:360px) {
        width: 280px;
    }
}